@import url(animated.css);


/*----------------------------------------------------------- ESTILOS GENERALES -----------------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

body {
  background-color: rgb(28, 16, 56);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  margin:15px;
  flex-wrap: wrap;
}

/*------------------------------------------------------------------- Header -------------------------------------------------------*/

header div {
  padding: 80px;
  padding-bottom: 50px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
}

header div img {
  width: 100%;
}

.header_logo {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
}

.left {
  width: 20%;
  height: auto;
  float: left;
}
.center {
  width: 60%;
  height: auto;
  float: center;
}
.right {
  width: 20%;
  height: auto;
  float: right;
}

/*---------------------------------------------------------------------- Menu --------------------------------------------------------*/

.menu-nav {
  align-items: space-around;
  padding: 30px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  gap: 80px;
  padding: 30px;
  margin:3px;
  overflow: hidden;
  background-color: rgba(193, 7, 240, 0.5);
}

.menu-nav li {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  float: left;
  list-style: none;
}

li a {
  color: rgb(40, 212, 255);
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(3, 0, 163, 0.8);
  border-radius: 60px;
}


/*--------------------------------------------------------------------- Section ----------------------------------------------------------*/

section {
  padding:40px;
  margin: 15px;
  border: 6px dotted rgba(126, 46, 255, 0.5);
  border-radius: 1rem;
  display: flex;
  font-family: "Times New Roman", Times, serif; 
  line-height: 1.5;
  font-weight: bolder;
  text-align: center; 
  justify-content: center;
  gap:40px;
}

section article div p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items:space-around;  
  margin: 15px;
  padding:15px;
}

.existencia {
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(204, 0, 255), 0 0 0.2em rgb(0, 0, 0);
  color: rgb(34, 148, 255);
  }

article img {
  width:45%;
  height: auto;
}

.meseks {
  width: 140px;  
}


/*------------------------------ Video ------------------------------*/

.music {
  width: 100%;
  align-content: center;
}

audio::-webkit-media-controls-play,
     audio::-webkit-media-controls-panel {
     background-color: rgba(252, 33, 241, 0.8);
     color: #000;
}

.mp3 {
  margin: 30px;
  padding: 30px;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*----------------------------------------------------------------------*/

main {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 15px 15px 15px 15px;
  font-family: 'Slackey', cursive;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0px 5px 5px rgb(192, 2, 192), 0 0 0.2em rgb(201, 64, 255);
  font-size: 30px;
  text-align: center;
  color:rgb(5, 159, 197);
  font-size: 35px;
  padding: 45px;
}

h2 {
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  font-size: 30px;
  color: rgba(13, 248, 177);
}

h3 {
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(233, 123, 255);
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin:5px;
  text-align: center;
  font-size: 25px;
  padding: 15px 15px 15px 15px;
  color:aliceblue;
}

p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
  color: cornflowerblue;
  font-size: 21px;
}


/*------------------------------ Redes Sociales ------------------------------*/

.redes {
  padding: 40px;
  background-color: rgba(12, 243, 208, 0.6);
  border: 4px solid rgba(46, 206, 255, 0.8);
  border-style: dotted;
  justify-content: center;
  align-items:space-around;  
}

.redes ul {
  padding: 10px;
  margin:15px;
  display: flex;
  justify-content: center;
  gap: 80px;
} 

.redes a {
  color: rgb(1, 6, 75);
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  border-radius: 5rem;
}

.redes a:hover {
  background-color: rgba(104, 209, 241, 0.8);
  border-radius: 2rem;
}


/*------------------------------ Footer ------------------------------*/

footer {
  margin:30px;
  padding: 30px;
  border: 6px dotted rgb(255, 10, 161);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  flex-direction: row;
}

footer article div {
  list-style: none;
  justify-content:space-between;
  align-content: center;
  text-align: center;
}

.alien {
  width:18%;
  height:auto;
}

.argprg {
  width:25%;
  height:auto;
}

/*-----------------------------------------------------Medias Queries------------------------------------------------------------------*/


@media(max-width:440px){
  
  body{
    padding:10px;
    margin:5px;
  }

  .left {
    width: 18%;
    height: auto;
  }

  .center {
    width: 63%;
    height: auto;
  }

  .right {
    width: 18%;
    height: auto;
  }

  .menu-nav li {
    font-size: 18px;
    padding: 5px;
    margin: 5px;
  }

  h1 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    color: rgb(22, 181, 187);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0px 5px 5px rgb(192, 2, 192), 0 0 0.2em rgb(201, 64, 255);
  }

  h2 {
   font-size: 25px;
  }

  h3 {
   font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
  }

  .music > iframe{ 
    width: 300px;
    height: 205px;
    float:center;
  }

  section .musica {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:2px;
    margin:1px;
  }
 
  h3 {
    font-weight: bolder;
    font-size: 22px;
    color: rgb(233, 123, 255);
  }

  article img {
    padding: 15px;
    margin: 5px;
    width:80%;
    height: auto;
 }

  section {
    padding: 40px;
    margin:15px;
    border: 6px dotted rgba(126, 46, 255, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-family: "Times New Roman", Times, serif; 
    font-weight: bolder;
    text-align: center; 
    justify-content: center;
  }
  
  section article div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-around;  
  }
  
  
  .redes {
    padding:25px;
    margin:15px;
    background-color: rgba(34, 224, 196, 0.6);
    border: 3px solid rgba(102, 46, 255, 0.8);
    border-style: dotted;
    justify-content: center;
    align-items:space-around;  
  }
  
  .redes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  } 
  
  .redes a {
    color: rgb(1, 6, 75);
    box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    border-radius: 5rem;
  }
  
  .redes a:hover {
    background-color: rgba(104, 209, 241, 0.8);
    border-radius: 2rem;
  }

  footer {
    border: 3px dotted rgb(255, 10, 161);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;  
    text-align: center;
  }

  footer article div p {
    font-size: 19px;
  }
  
  .alien {
    width:30%;
    height:auto;
  }
  
  .argprg {
    width:65%;
    height:auto;
  }
}



