@import url(animated.css);


/*----------------------------------------------------------- ESTILOS GENERALES -----------------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

body {
  background-color: rgb(28, 16, 56);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 30px;
  flex-wrap: wrap;
}

/*------------------------------------------------------------------- Header -------------------------------------------------------*/

header div {
  padding: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
}

header div img {
  width: 100%;
}

.header_logo {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
}

.left {
  width: 20%;
  height: auto;
  float: left;
}
.center {
  width: 60%;
  height: auto;
  float: center;
}
.right {
  width: 20%;
  height: auto;
  float: right;
}

/*---------------------------------------------------------------------- Menu --------------------------------------------------------*/

.menu-nav {
  align-items: space-around;
  padding: 30px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  padding: 30px;
  overflow: hidden;
  background-color: rgba(7, 240, 170, 0.7);
}

.menu-nav li {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  float: left;
  list-style: none;
}

li a {
  color: rgb(1, 6, 75);
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(241, 104, 180, 0.8);
  border-radius: 60px;
}


/*--------------------------------------------------------------------- Section ----------------------------------------------------------*/

section {
  padding:30px;
  border: 3px solid rgba(126, 46, 255, 0.5);
  border-style: double;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: "Times New Roman", Times, serif; 
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
}

section article div p {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.yo {
  width:60%;
  height: auto;
}


/*------------------------------ Video ------------------------------*/

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/*----------------------------------------------------------------------*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Slackey', cursive;
  text-shadow: 2px 5px 5px rgb(158, 30, 184);
  font-size: 30px;
  text-align: center;
  color: rgb(22, 181, 187);
  font-size: 35px;
  padding: 45px;
}

h2 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  font-size: 30px;
  color: rgba(13, 248, 177);
}

h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 1rem;
  color: rgb(241, 242, 243);
}

p {
  font-family: 'Gugi', cursive;
  text-align: center;
  color: cornflowerblue;
  font-size: 20px;
  padding: 15px 15px 15px 15px;
}


/*------------------------------ Redes Sociales ------------------------------*/

.redes {
  padding: 30px;
  background-color: rgba(34, 224, 196, 0.6);
  border: 3px solid rgba(102, 46, 255, 0.8);
  border-style: dotted;
  justify-content: center;
  align-items:space-around;  
}

.redes ul {
  display: flex;
  justify-content: center;
  gap: 80px;
} 

.redes a {
  color: rgb(1, 6, 75);
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  border-radius: 5rem;
}

.redes a:hover {
  background-color: rgba(104, 209, 241, 0.8);
  border-radius: 2rem;
}


/*------------------------------ Footer ------------------------------*/

footer {
  padding: 20px;
  border: 1px solid rgb(216, 13, 57);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
}

footer div nav ul {
  list-style: none;
}

footer div nav ul li {
  padding: 10px;
  margin: 5px;
  background-color: rgb(241, 78, 241, 0.8);
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.alien {
  width:25%;
  height:auto;
}

.argprg {
   width:100%;
  height:auto;
}

/*-----------------------------------------------------Medias Queries------------------------------------------------------------------*/





