
/*----------------------- ESTILOS GENERALES ------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
/*-------------------------------------------------------------------*/
  
body {
  background: linear-gradient(rgb(11, 80, 170),#03f8bb, rgb(75, 230, 14), rgb(231, 255, 13),rgb(255, 153, 1));
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 30px;
  flex-wrap: wrap;
}

/*------------------------------------------------------------------- Header -------------------------------------------------------*/

header div {
  padding: 30px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  flex-wrap: wrap;
}

header div img {
  width: 100%;
}

.header_logo {
  display: flex;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  align-items: center;
  justify-content: center;
}

.left {
  width: 22%;
  height: auto;
  float: left;
}
.center {
  width: 60%;
  height: auto;
  float: center;
}
.right {
  width: 18%;
  height: auto;
  float: right;
}

/*---------------------------------------------------------------------- Menu --------------------------------------------------------*/

.menu-nav {
  align-items: space-around;
  padding: 30px;
}

.menu-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  flex-wrap: wrap;  
  padding: 30px;
  overflow: hidden;
  background-color: rgba(26, 177, 164, 0.7);
}

.menu-nav li {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  float: center;
  list-style: none;
}

li a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 153, 0, 0.8);
  border-radius: 45px;
}

/*-------------------------------------------------------------------*/

.card-container {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin:5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; 
  border-radius: 10px;
  gap:30px;
}

.card {
  height: 300px;
  width: 280px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px 5px;
  background-color: rgba(255, 255, 255, 0.44);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card .character-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.card .character-image {
  width: 160px;
  border-radius: 50%;
}

.character-info h3 {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.card:hover {
  background-color: #15f1baae;
  box-shadow: 1px 0px 19px 1px rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
  -moz-box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
}


/* selector | propiedad | valor */

h1 {
  font-family: 'Slackey', cursive;
  text-shadow: 2px 2px 3px rgb(255, 255, 255), 1px 5px 5px rgb(255, 230, 6) , 0px 0px 28px rgb(0, 255, 0);
  text-align: center;
  font-size: 35px;
  color:rgb(11, 31, 23);
}

h2 {
  font-family:'Aclonica';
  font-size: 20px;
  text-align: center;
  color:#001812;
}

h4 {
  font-family: 'Concert One', cursive;
  font-size: 35px;
  text-align: center;
  color:#010002;
}


/*------------------------------ Footer ------------------------------*/

footer {
  padding: 30px; 
  border: 4px double rgb(216, 13, 13);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 1.6;
}

footer section div img {
  height: auto;
  justify-content:center;
  align-items: center;
}

.alien {
  width: 30%;
  height: auto;
}

.argprg {
  width: 100%;
  height: auto;
}

footer section ul li {
  list-style: none;
  justify-content: center;
  text-align: center;
  align-content: center;
}

section li a {
  padding: 15px;
  margin: 5px;
  justify-content: right;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 20px;
  background-color: rgba(255, 73, 67, 0.8);
  border-radius: 45px;
}

section div li a:hover {
  background-color: rgba(238, 105, 16, 0.8);
  border-radius: 45px;
  -webkit-border-radius:80%;
  box-shadow: 0px 0px 15px 15px #fbff00;
}


/*-----------------------------------------------------Medias Queries------------------------------------------------------------------*/


@media(max-width:440px){
  
  body{
    padding:10px;
    margin:2px;
  }

  .left {
    width: 18%;
    height: auto;
  }

  .center {
    width: 64%;
    height: auto;
  }

  .right {
    width: 18%;
    height: auto;
  }

  .menu-nav li {
    font-size: 16px;
    padding:12px;
  }

  h1 {
    padding:15px;
    margin:15px;
    font-size: 15px;
    font-family: 'Slackey', cursive;
    text-shadow: 0px 5px 5px rgb(239, 255, 8) ;
    text-align: center;
    color:rgb(44, 39, 39);
  }

  h2 {
    font-size: 12px;
    text-align: center;
  }

  p {
    font-size: 12px;
    font-weight: bold;
  }

  h4 {
    padding: 5px;
    margin:5px;
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .card-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    border-radius: 10px;
    gap:20px;
  }

  .card {
    height: 280px;
    width: 160px;
    border-radius: 10px 5px;
    background-color: rgba(124, 121, 121, 0.44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .card .character-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card .character-image {
    width: 50%;
    border-radius: 50%;
  }

  .card:hover {
    background-color: #15f1baae;
    box-shadow: 1px 0px 19px 1px rgba(255, 255, 255, 0.575);
    -webkit-box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 0px 19px 1px rgba(255,255,255,0.75);
  }

  footer {
    border: 4px double rgb(255, 10, 161);
    align-items: center;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .alien {
    width: 35%;
    height: auto;
  }
    
  .argprg {
    padding: 5px;
    margin:5px;
    width: 80%;
    height: auto;
  }

  footer section ul li {
    padding: 5px;
    margin:5px;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  section li a {
    justify-content: right;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
    background-color: rgba(255, 73, 67, 0.8);
    border-radius: 45px;
  }

  section div li a:hover {
    background-color: rgba(238, 105, 16, 0.8);
    border-radius: 35px;
    -webkit-border-radius:60%;
    box-shadow: 0px 0px 15px 15px #fbff00;
  }

}