
/*----------------------------------------------------------- ESTILOS GENERALES -----------------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

body {
  background-image: url(IMG/rick-and-morty-gritosol.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  margin: 5px;
  gap:20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/*------------------------------------------------------------------- Header -------------------------------------------------------*/

header div {
  padding: 30px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 20%;
  height: auto;
  float: left;
}
.center {
  width: 60%;
  height: auto;
  float: center;
}
.right {
  width: 20%;
  height: auto;
  float: right;
}

/*---------------------------------------------------------------------- Menu --------------------------------------------------------*/

.menu-nav {
  align-items: space-around;
  padding: 30px;
  margin:5px;
}

.menu-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  gap:80px;
  flex-wrap: wrap;  
  padding: 30px;
  overflow: hidden;
  background-color: rgba(7, 240, 170, 0.5);
}

.menu-nav li {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  float: left;
  list-style: none;
}

li a {
  color: rgb(1, 6, 75);
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(241, 104, 180, 0.8);
  border-radius: 45px;
}

/*--------------------------------------------------------------------- Section ----------------------------------------------------------*/

section {
  padding:20px;
  margin:5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
}

section div {
  align-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 1.5;
}

article {
  line-height: 1.5;
  border-radius: 250px;
  border-color: blueviolet;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(21, 219, 245, 0.3);
  padding: 30px;
  margin: 5px;
  align-items: space-between;
}

/*------------------------------ Video ------------------------------*/

.mirar {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}


/*----------------------------------------------------------------------*/

/*------------------------------ Sinopsis ------------------------------*/

.sinopsis {
  border-radius: 1rem;
  background: rgba(46, 171, 255, 0.5);
  border-radius: 20px;
  margin: 5px;
  padding: 25px;
  font-weight: bold;
}

.trama {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/*------------------------------ Frases - Tipografías ------------------------------*/

h1 {
  font-family: 'Slackey', cursive;
  text-shadow: 0px 5px 5px rgb(125, 243, 79);
  text-align: center;
  font-size: 32px;
  color: rgb(27, 0, 126);
  text-shadow: 1px 1px 2px rgb(240, 255, 34), 0px 5px 5px rgb(4, 190, 13), 0 0 0.2em rgb(72, 255, 16);
}


h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: rgb(8, 3, 51);
  padding:5px;
  margin:10px;
}

h3 {
  padding:30px;
  margin:10px;
  font-family: 'Slackey', cursive;
  font-size: 30px;
  color: rgb(66, 0, 141);
  text-align: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0px 5px 5px rgb(192, 2, 106), 0 0 0.2em rgb(201, 64, 255);
}

h4 {
  text-align: space-between;
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
  margin:10px;
}

h5 {
  font-size: 30px;
  font-family: 'Yeseva One', cursive;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 0, 255), 0 0 0.2em rgb(210, 113, 255);
}

/*------------------------------ Imagenes ------------------------------*/

.meeseeks {
  padding-top:50px;
  margin:20px;
}

.Cena {
  width:80%;
  height:auto;
}

/*------------------------------ Acerca de los creadores ------------------------------*/

.autorDH {
  margin:5px;
  padding:5px;
  width: 35%;
  height: auto;
  border-radius: 22px;
}

.autorJR {
  padding:5px;
  margin:5px;
  width: 35%;
  height: auto;
  border-radius: 22px;
}

.autores a:hover img {
  -webkit-transform:scale(1.1);
  transform:scale(1.2);
}

.autores {
  overflow:hidden;
}

/*------------------------------------------------------------*/

.final {
  padding:30px;
  margin:55px;
  gap:35px;
}


/*------------------------------ Footer ------------------------------*/

footer {
  padding: 15px; 
  margin:15px;
  border: 5px solid rgb(216, 13, 57);
  border-style: dashed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: space-between;
  display: flex;
  flex-wrap: wrap;
}

footer section img {
  width:40%;
  float:center;
}

footer section div {
  list-style: none;
  justify-content: center;
  align-items: center;
}

footer section {
  text-align: center;
  align-content: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 0, 255), 0 0 0.2em rgb(255, 255, 255);
}

footer li a {
  padding:15px;
  margin:15px;
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 30px;
  background-color: rgb(241, 104, 180, 0.6);
  border-radius: 45px;
}

footer li a:hover {
  background-color: rgba(154, 47, 255, 0.8);
  border-radius: 45px;
  -webkit-border-radius:50%;
  box-shadow: 1px 1px 15px 15px #ec1ea7;
}


/*---------------------------------------------------------- Medias Queries ---------------------------------------------------------------*/

@media(max-width:440px){
  
  body {
    margin:5px;
    padding: 15px;
    background-position:inherit;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }

  header div {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row; 
   justify-content: center;
   align-items: center;
  }

  .left {
    width: 19%;
    height: auto;
  }

  .center {
    width: 62%;
    height: auto;
  }

  .right {
    width: 19%;
    height: auto;
  }

  h1 {
    padding:25px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: rgb(2, 4, 117);
  }

  .menu-nav li {
    font-size: 16px;
    margin:5px;
    padding:5px;
  }

  .video > iframe{ 
    width: 380px;
    height: 225px;
  }

  .sinopsis {
    background: rgba(46, 171, 255, 0.5);
    border-radius: 20px;
    font-weight: bold;
  }

  .trama {
    font-size:13px;
    font-weight: bold;
  }

  h3 {
    font-weight: bolder;
    font-size: 17px;
    color: rgb(43, 0, 63);
 }

  .existence{
    width:60%;
  }

  .Cena {
    width:580px;
    height:auto;
  }
  
  article {
    width: 28%;
  }

  h4 {
    text-align: center;
    font-size: 22px;
  }

  h5 {
    text-align: center;
    font-size: 28px;
  }

  .autores {
    border-radius: 90px;
    border-color: blueviolet;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  rgba(179, 63, 224, 0.3);
    width: 90%;
  }

  .autores img {
    width:80%
  }

  footer {
    padding:5px;
    margin: 15px;
    border: 3px dashed rgb(182, 2, 71);
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  footer p {
    text-align: center;
    font-size: 20px;
  }
  
  footer section img {
    width: 60%;
  }

  footer div ul li {
    list-style: none;
    padding: 45px;
    margin:45px;
  }
  
  footer li a {
    padding:10px;
    margin:1px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: rgb(241, 104, 180, 0.6);
    border-radius: 45px; 
    text-align: center;
  }

  footer li a:hover {
    background-color: rgba(104, 191, 241, 0.8);
    border-radius: 45px;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec1ea7;
  }
  
}
  
  
  
  